@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&family=Spartan:wght@100;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: coral;
}

body {
  font-family: "Spartan", sans-serif;
}

.container {
  width: 50%;
  margin: 30px auto;
}

.container .page-heading {
  font-family: "Rock Salt", cursive;
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
  color: var(--primary-color);
}

.container .description {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container .input {
  padding: 20px;
  border: 1px solid var(--primary-color);
  margin: 10px auto 30px;
  border-radius: 10px;
  text-align: center;
  width: 50%;
}

.input-container label {
  font-weight: bold;
  text-align: center;
  color: var(--primary-color);
}

.btn-submit {
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px auto;
  display: flex;
  background: var(--primary-color);
  border: none;
  cursor: pointer;
}
.btn-submit:hover {
  box-shadow: 0 0 20px var(--primary-color);
}

.result {
  font-size: 2rem;
  text-align: center;
}

.error {
  color: red;
  font-size: 2rem;
  text-align: center;
}

/* FOOTER */
.main-footer {
  color: rgb(0, 0, 0);
  /* width: 100%; */
  /* border-top: 1px solid black; */
  margin-top: 5rem;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 20px;
  margin-right: 40px;
}

.social .fab {
  border-radius: 50%;
  color: rgb(10, 10, 10);
  /* color: var(--primary-color); */
  text-align: center;
  padding: 0.5rem;
}
.social .fab:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}
